@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto:ital@1&display=swap');
body{
    font-family:  "Roboto";
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #fcfbfb;
}

body {
    background-color: #fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

nav a {
    color: white;
    padding: 20px;
}

nav a:hover {
    color: black;
}

.home-title {
    color:black;
    font-size: 1.5em;
    margin-top: 10px;
}
h2{
    margin: 0;

}
.logo {
    padding-top: 5px;
}
.icon {
    width: 80px;
    text-align: center;
    padding-top: 10px;
   
}

#hero-img {
    width: 100%;
}
#hero-msg{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-bottom: 2px solid green;
}

nav a {
    padding: 35px;
}
.home-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.book,
.join {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #d9c2a3;
}
footer a {
    text-decoration: none;
}

nav a:hover,
.book:hover,
.join:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

#hero-box,
.button-box,
.River-cards,
.camping-cards,
.rapid-cards {
    margin:  0;
}
.msg {
    text-align: center;
    padding: 35px;
}
.card-img{
    
    max-width: 450px;
    border: 10px solid #d9c2a3;
}
footer{
    background-color: rgba(20, 30, 13, 0.7);
    padding: 25px 50px;
    margin-top: 200px;
}
.msg {
    background-color: rgba(20, 30, 13, 0.7);
    padding-bottom: 15px;
}
footer .social img {
    padding-top: 15px;
}

#background{
    
    background-color: rgba(187, 204, 176, 0.7);
}
.msg p {
    padding-bottom: 15px;
}

main section img {
    /* box-sizing: border-box; */
}














